.body{
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #5E50A1 0%,
        #5E50A1 50%,
        #ffffff 50%,
        #ffffff 0%
    );
}
.wrapperimg{
    width: 180px;
    height: 180px;
}
.imgProfile{
    width: 180px;
    height: 180px;
}
.imgedit{
    width: 18px;
    height: 18px;
}
.button{
    background-color: #5E50A1;
}
.button2{
    border: 1px solid #5E50A1;
}