.body{
    background-color: #E5E5E5;;
}
.bodycontainer{
    background-color: white;
}
.img{
    width: 23px;
    height: 23px;
}
.imgContact{
    width: 15%;
}
.wrapperimg{
    width: 35px;
    height: 35px;
}
.banner{
    height: 350px;
    background-color: #5E50A1;
}
.wrapperProfilepict{
    margin-top: -75px;
    height: 150px;
    width: 150px;
}
.profilePict{
    height: 150px;
    width: 150px;
}
.btn{
    background-color: #5E50A1;
    color: aliceblue;
}
.btnskill{
    background-color: #ffb52299;
    border: 2px solid #ffaa0099;
    color: white;
}
