.page{
    width: 100vw;
    height: 200vh;
    background-color: #E2E5ED;
}
.bg{
    background-color: #5E50A1;
    width: 100vw;
    height: 411px;
}
.content{
    display: flex;
    justify-content: space-evenly;
}
.box{
    width: 357px;
    height: 379px;
    background-color: white;
    padding: 0px 30px 0px 30px;
    margin-top: 200px;
}
.box1 .photo{
    border-radius: 50px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-top: 15px;
}
.box1 img{
    width: 14px;
    height: 16px;
}
.box1 h3{
    font-size: 22px;
    font-weight: 600;
    line-height: 56px;
}
.box1 p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: gray;
}
.place{
    display: flex;
    gap: 5px;
    margin-top: 10px;
}
.file{
    background-color: bisque;
    display: flex;
}
.file label{
    font-size: 14px;
    font-weight: 400;
    /* line-height: 20px; */
    text-align: center;
}
.file input{
    visibility: hidden;
}
.btn1{
    width: 357px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: white;
    background-color: #5E50A1;
    margin-top: 20px;
}
.btn2{
    width: 357px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color:  #5E50A1;
    background-color: white; 
    margin-top: 20px;
    border: 2px solid #5E50A1;
}
.box2{
    width: 753px;
    height: 1058px;
    background-color: white;
    margin-top: 200px;
}
.box2 h3{
    font-size: 22px;
    font-weight: 600;
    line-height: 56px;
    padding-left: 50px;
}
.box2 p{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #858096;
    margin-top: 20px;
    padding-left: 30px;

}
.box2 input{
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    width: 693px;
    height: 50px;
    border: 1px solid #E2E5ED;
    margin-left: 30px;
    padding-left: 15px;
}
.box2 textarea{
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    width: 693px;
    height: 114px;
    border: 1px solid #E2E5ED;
    margin-left: 30px;
    padding-left: 15px;
    padding-top: 10px;
}