.wrapperProfilepict{
    margin-top: -75px;
    height: 150px;
    width: 150px;
}
.profilePict{
    height: 150px;
    width: 150px;
}
.bodycontainer{
    background-color: white;
}
.img{
    width: 23px;
    height: 23px;
}
.imgContact{
    width: 15%;
}
.btn{
    background-color: #5E50A1;
    color: aliceblue;
}
.banner{
    height: 350px;
    background-color: #5E50A1;
}